#directories
#.dev/

node_modules/
venv/
dist/
frontend/dist/
frontend/node_modules/
__pycache__/



#files
*.tgz
*.log
*.apk
.DS*
.DS_Store
*.py[cod]
*.pyo
._*
create-package.sh
v-link.code-workspace
logs/

#tooling
.vscode/
